<link rel="stylesheet" type="text/css" href="css/style1.css">


<div id="outer">
    <h1> Sign up form </h1>
   
    <div class="login">
    <form id="login" method="post" action="/register" >
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="username" id="username" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="password" id="password" placeholder="Password">
        <br><br>
        
        <button>login</button>
    </form>
</div>
<h1>This is home page</h1>

<div id="inner">

    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
   
    
</div>
</div>