


<body>
    <title>AQITASK</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href ="css/style.css">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto&display=swap" rel="stylesheet">
        <!-- FAVICON -->
        <link rel="shortcut icon" href="img/favicon.ico"/>
        <link  rel="stylesheet"  href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css"  />  
        <script  src="//http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script> 
        
        <script src="css/jquery-3.7.1.min.js"></script>
        <!-- //<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> -->
        <script src="//http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="tex/javascript"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
        <style data-tag="reset-style-sheet">
            html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
          </style>
          <style data-tag="default-style-sheet">
            html {
              font-family: Inter;
              font-size: 16px;
            }
      
            body {
              font-weight: 400;
              font-style:normal;
              text-decoration: none;
              text-transform: none;
              letter-spacing: normal;
              line-height: 1.15;
              color: var(--dl-color-gray-black);
              background-color: var(--dl-color-gray-white);
      
            }
          </style>
    </head>
    <body>
   
        <div>
         
    
          <div class="home-container">
            <div class="home-header">
              <header class="navbarContainer ">
              
                <span class="logo">AQI Predict</span>
                <div>
                  <nav class="home-links">
                    <span class="bodySmall"><a href="#dashboard">Dashboard</a></span>
                    <span class="bodySmall"><a href="#aqipredict">AQI predict</a></span>
                    <span class="bodySmall"><a href="#indoor">Indoor air quality</a></span>
                    <span class="bodySmall"><a href="/logout">sign out</a></span>
                  </nav>
                </div>
                </header>
                </div>
                </div>
                
                <div id="dashboard">
                <form id="search-form">
                  <input type="search" placeholder="Enter your city" id="search-input" required autocomplete="off"/>
                  <button id="search-button">Search</button>
                  <button id="geo-button"><i class="fas fa-map-marker-alt"></i></button>
              </form>
              <div id="container">
              <div id="details" style="display:none;"></div>
              <!-- DATA CONTAINER -->
              <main id="app-container">
                  <div id="location">
                      <p>City</p><span id="cityval"></span>
                  </div>
                  <div id="quality">
                      <h1 id="quality-icon">🤌🏻</h1>
                  </div>
                  <div id="quality-description">
                      <p>?</p>
                  </div>
                  <div id="index-value">
                      <p>Air quality index=</p><span id="value"></span>
                  </div> 
             
                      
                    
                  
                
              </main>
               
              <div id="output2" style="display:none;"></div>
          </div>
        </div>
          <div id="indoor">
            <h2>Indoor Air Quality</h2>
          <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 100vw;height: 100vh;"  src="https://charts.mongodb.com/charts-finalyearproject-jaxhl/embed/dashboards?id=65e563b2-865d-4f19-8f9d-dc01b6e24b52&theme=dark&autoRefresh=true&maxDataAge=60&showTitleAndDesc=false&scalingWidth=scale&scalingHeight=scale"></iframe>
        </div>   
          <!-- LODASH
              <script src="js/lodash.js"></script> -->
              <!-- JAVASCRIPT -->
              <script src="css/main.js" type="text/javascript"></script>
                   
      </body>


















 <div id="outer">

<div id="inner">
 
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>

</div>
</div>
</body>