


<>
    <title>AQITASK</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link rel="stylesheet" href ="css/style.css">
        <!-- FONT AWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto&display=swap" rel="stylesheet">
        <!-- FAVICON -->
        <link rel="shortcut icon" href="img/favicon.ico"/>
        <link rel="stylesheet" href="leaflet/dist/leaflet.css" />
        <script src="leaflet/dist/leaflet.js"></script>
        
        <script src="css/jquery-3.7.1.min.js"></script>
        <!-- //<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="tex/javascript"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        
  
          <style>
          html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
          </style>
          <style data-tag="default-style-sheet">
            html {
              font-family: Inter;
              font-size: 16px;
            }
      
            body {
              font-weight: 400;
              font-style:normal;
              text-decoration: none;
              text-transform: none;
              letter-spacing: normal;
              line-height: 1.15;
              color: var(--dl-color-gray-black);
              background-color: var(--dl-color-gray-white);
      
            }
          </style>
    </head>
  
   
        <div>
         
    
          <div class="home-container">
            <div class="home-header">
              <header class="navbarContainer ">
              
                <span class="logo">AQI Predict</span>
                <div>
                  <nav class="home-links">
                    <span class="bodySmall"><a href="#dashboard">Dashboard</a></span>
                    <span class="bodySmall"><a href="#aqipredict">AQI predict</a></span>
                    <span class="bodySmall"><a href="#indoor">Indoor air quality</a></span>
                    <span class="bodySmall"><a href="#indoor">Solutions</a></span>
                    <span class="bodySmall"><a href="/logout">sign out</a></span>
                  </nav>
                </div>
                </header>
                </div>
                </div>
                
                <div id="dashboard">
                <form id="search-form">
                  <input type="search" placeholder="Enter your city" id="search-input" required autocomplete="off"/>
                  <button id="search-button">Search</button>
                  <button id="geo-button"><i class="fas fa-map-marker-alt"></i></button>
              </form>
              <div id="container">
              <div id="details" style="display:none;"></div>
             
              <main id="app-container">
                  <div id="location">
                      <p>City</p><span id="cityval"></span>
                  </div>
                  <div id="quality">
                      <h1 id="quality-icon">🤌🏻</h1>
                  </div>
                  <div id="quality-description">
                      <p>?</p>
                  </div>
                  <div id="index-value">
                      <p>Air quality index=</p><span id="value"></span>
                  </div> 
                  <div id="result1"></div>
                 
                      </main>
                      
        
              
              <div id="output2" style="display:none;"></div>
          </div>
        </div>
          <div id="indoor" >
            <h2 class="indoor1" id="indoor1">Indoor Air Quality</h2>
          </div>
          <div id="indoor-iframe" style="display:none;">
          <iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 94vw;height: 100vh;"  src="https://charts.mongodb.com/charts-finalyearproject-jaxhl/embed/dashboards?id=65e563b2-865d-4f19-8f9d-dc01b6e24b52&theme=dark&autoRefresh=true&maxDataAge=60&showTitleAndDesc=false&scalingWidth=scale&scalingHeight=scale"></iframe>
        </div>
      </div>  
     
        

       








       <h1 id="solutions">Solutions we can suggest!!</h1>
       <div id="slideshow" class="slideshow-container">






        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
          <div class="numbertext">1 / 3</div>
          <img src="css/yogabenefits.jpg" style="width:100%">
          <div class="text"><h2 class="indoor1">YOGA MANTRA</h2></div>
        </div>
      
        <div class="mySlides">
          <div class="numbertext">2 / 3</div>
          <img src="css/plantbenefits.png" style="width:100%">
          <div class="text"><h2 class="indoor1">PLANTING MANTRA</h2></div>
        </div>
      
        <div class="mySlides">
          <div class="numbertext">3 / 3</div>
          <img src="css/quitsmokingbenefits.jpg" style="width:100%">
          <div class="text"><h2 class="indoor1">QUIT SMOKING MANTRA</h2></div>
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>



     <div class="yoga-area">
          <div id="initialbutton" onclick="yogmantra()">
            <li class="image-list" ><img src="css/yoga.png" ></li>
          </div>
          
          <div style="display: flex; flex-direction: row; width:64%;height:15%">
          <div id="yogmantra">
          <button  class="button-5" onclick="yoga1(0)">BOW</button>
          <button  class="button-5" onclick="yoga1(1)">CAMEL</button>
          <button  class="button-5" onclick="yoga1(2)">COW</button>
          <button  class="button-5" onclick="yoga1(4)">UP DOG</button>
          <button  class="button-5" onclick="yoga1(5)">WHEEL</button>
          <button  class="button-5" onclick="yoga1(6)">WILD THING</button>
          <button  class="button-5" onclick="back()">BACK</button>
          <div id="asana0">
            <div id="asana-pic"></div>
          </div>
  <!-- HTML !-->



.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
          </div>
        </div>  
      </div>
        <div class="plantarea">
          <div id="initialbutton1" onclick="plantmantra()">
           <div> <li class="image-list" ><img src="css/plant.png" ></li> </div>
           <div id="plants">
            <button class="button-33" role="button" onclick="Searchplant()">Grow Indoor plants</button>
            </div>
            
          
          </div id="plannt">
          <div id="card">
          </div>
          <div id="card1"></div>
          <div id="card2"></div>
            </div>
            </div>
         <div>
         
				
        </div>
        </div>
        </div>
        <div  id="smoking">
       
			<div  id="initialbutton2" onclick="smokingmantra()">
				<li class="image-list" ><img src="css/cig.png"></li>
	</div>
   <div id="quitform">
    <h1>Smoking Quit Tracker</h1>
    
			<form name="quitform" >
				<p>
				<label for="quitdate">Quit Date:</label><br>
				<input type="date" id="quitdate" name="quitdate"></input>
				</p>
				<p>
				<label for="startdate">Date Started Smoking:</label>&nbsp;
				<input type="date" id="startdate" name="startdate"></input>
				</p>
				<p>
				<label for="cigssmoked">Packs Smoked A Day:</label>&nbsp;
				<input type="text" id="cigssmoked" name="cigssmoked"></input>
				</p>
				<p>
				<label for="pricepack">Price Of A Pack</label>&nbsp;
				<input type="text" id="pricepack" name="pricepack"></input>
				</p>
				<p><button id="b1" type="submit">Submit</button></p>
				<p>
				<textarea id="total" readonly></textarea>
				</p>
			</form>
    
<button class="button-8" role="button" onclick="back2()">Back</button>



    </div>
         </div>
     </div>
  </div>
          </div>
            
        
<div>
</div>















  

<div id="outer">

<div id="inner">
 
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>

</div>
</div> 
<script src="css/main.js"  ></script>
</body>